// New vars

$senti-color-dark: #0B1621;
$senti-color-blue: #3F3BED;
$senti-color-blue-hover: lighten($senti-color-blue, 4%);
$senti-color-blue-active: lighten($senti-color-blue, 6%);
$senti-color-blue-light: #F2F8FA;
$senti-color-blue-light-hover: darken($senti-color-blue-light, 3%);
$senti-color-grey: #909CA5;
$senti-color-grey-light: #B2BBC1;
$sent-color-faq-border: #CED6D9;
$senti-color-bg: #F2F8FA;
$senti-color-green: #24E088;
